*.svn*
*.exe
*.o
*.obj
*.pdb
*.vs*
*.vcxproj.filters
*.tlog
*.idb
*.ilk
SmartCocktail/SmartCocktail/Debug/SmartCocktail.log
SmartCocktail/SmartCocktail/Debug/vc141.idb
SmartCocktail/Debug/SmartCocktail.ilk
